:root {
    --board-height: calc(100vh - 170px);
    --board-width: var(--board-height);
    --grid-height: calc((var(--board-height) - 10px) / 3);
    --grid-width: var(--grid-height);
    --marking-height: calc(var(--grid-height) - 15px);
    --marking-width: var(--marking-height);
}

html {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: linear-gradient(#000B00, #44617B, #d6a987);
}

header {
    color: #a8c8e6;
    margin: 0 auto;
    text-align: center;
}

#board {
    height: var(--board-height);
    width: var(--board-width);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 2px 0px 8px 1px rgba(0,0,0,0.3);
    border-radius: 10px;
}

#board div {
    height: var(--grid-height);
    width: var(--grid-width);
    border: 1px solid white;
    background: rgba(255,255,255,0.1);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#board div img {
    height: var(--marking-height);
    width: var(--marking-width);
}